
*.vsp
*.suo
*.metagen
*.ilk
*.sdf
*.opensdf
bin
obj
/JapanNUI/JapanNUI.ImageProcessing.SectionsBuilders/Debug
/Libs
/JapanNUI/JapanNUI.ImageProcessing.SectionsBuilders/Release/JapanNUI.ImageProcessing.SectionsBuilders.write.1.tlog
/JapanNUI/Debug
/KinectBrowser/Bin